<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Asosiy sahifa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
  .jumbotron {
    background-color: light-blue;
    color: blue;
    padding: 100px 25px;
  }
  .container-fluid {
    padding: 60px 50px;
  }
  .bg-grey {
    background-color: #f6f6f6;
  }
  .logo-small {
    color: blue;
    font-size: 50px;
  }
  }

    </style>
</head>
<body>

<div class="jumbotron text-center">
    <p><img src="static/itmlogo.png" width="200px"></p>
    <h1>INNOVATSIYA TEXNOLOGIYALAR MARKAZI MCHJ</h1>
</div>

<div class="container-fluid text-center">
    <h2>TIZIM XIZMATLARI</h2>
    <br>
    <div class="row">
        <div class="col-sm-4">

            <a href="#"><h4>Mahsulotlar haqida</h4></a>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-list-alt logo-small"></span>
            <a href="#"><h4>Hisobot shakllantirish</h4></a>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-lock logo-small"></span>
            <a href="{%url 'addproduct'%}"><h4>Mahsulot qo'shish</h4></a>
        </div>
    </div>
    <br><br>
    <div class="row">

    </div>
</div>

</body>
</html>
